

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  margin: auto;
  padding-top: 69px;
  width: 1200px;
  opacity: 0.9;
}

/* Header */

header {
  position: fixed;
  height: 69px;
  width: 100%;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  align-items: center;
  margin-left: 10px;
  height: 50px;
}

nav span {
  display: inline-flex;
  padding: 20px 10px;
  text-align: right;
  flex-grow: 1;
}

nav {
  flex
}

a {
  color: seashell;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

/* Mission */

#mission {
  background-image: url(./images/mission-background.jpg);
  padding-top: 70px;
  height: 700px;
}

.content {
  background-color: black;
  margin: auto;
  width: 100%;
}

/* Store */

#store {
  margin: auto;
  padding-top: 70px;
  height: 700px;
  width: 1000px;
}

.flex-container.tea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}

.tea span {
  display: block;
  padding: 5px;
  text-align: center;
}

.tea img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.tea {
  padding: 5px;
}

/* Locations */

#locations {
  background-image: url(./images/locations-background.jpg);
  padding: 70px;
  height: 500px;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px 10px;
  flex-basis: 280px;
  background-color: black;
  opacity: 1;
}

/* Footer */

.contact {
  height: 200px;
}

.copyright {
  margin-left: 20px;
  text-align: left;
}
